body {
    font-family: 'Titillium Web', sans-serif
}

.hunged {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    height: 400px;
}
